@keyframes side-from-left {
    0% {
        left: -100%;
        display: block;
    }
    100% {
        left: 0;
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.prop-name {
    color: #9999ee;
}
    
.text-bg {
    padding: 5px 15px;
    background: #000000;
    display: inline-block;
}
